Repository jolibrain/joliGEN, pull requests merged in 2022-11, with the labels that each got.

#296 fix: data dep init
  models/base_model.py
  models/cut_model.py
  models/cycle_gan_model.py
Labels: viz

#298 chore: reduce memory of unet_mha unit tests
  models/gan_networks.py
  options/base_options.py
  tests/test_run_diffusion.py
  tests/test_run_semantic_mask.py
Labels: type:tests

#299 feat(ml): diffusion-based augmentation for D, 2206.02262
  models/base_gan_model.py
  models/gan_networks.py
  models/modules/loss.py
  models/modules/projected_d/diffusion.py
  models/modules/projected_d/discriminator.py
  models/modules/projected_d/projector.py
  options/train_options.py
Labels: data:augmentation, model:discriminator

#297 chore: torch 1.13 requirements update
  docker/Dockerfile.build
  docker/Dockerfile.devel
  requirements.txt
Labels: dependencies

#304 fix: broken export onnx script
  scripts/export_onnx_model.py
Labels: type:export, ready-for-review

#300 feat(ml): control over image generation with diffusion in-painting model
  scripts/gen_single_image_diffusion.py
Labels: alg:diffusion

#308 fix: diffusion generation script is already multimodal
  scripts/gen_single_image_diffusion.py
Labels: alg:diffusion

#310 feat(ml): L1 loss for palette diffusion model
  models/base_diffusion_model.py
  models/palette_model.py
Labels: alg:diffusion

#309 feat(aug): configurable online mask delta augmentation by x and y axis
  data/online_creation.py
  options/base_options.py
Labels: data:augmentation

#311 chore: slight refactor of diffusion models
  models/modules/diffusion_utils.py
  models/modules/unet_generator_attn/diffusion_generator.py
  models/modules/unet_generator_attn/unet_attn_utils.py
  models/modules/unet_generator_attn/unet_generator_attn.py
Labels: alg:diffusion

#314 fix: dataaug_D_diffusion option
  models/base_gan_model.py
Labels: nn:loss

#315 fix(ml): diffusion schedule with generation script
  scripts/gen_single_image_diffusion.py
Labels: alg:diffusion

#305 fix: test script
  scripts/run_tests.sh
  tests/conftest.py
  tests/test_client_server.py
  tests/test_run_semantic_mask.py
  tests/test_run_semantic_mask_online.py
Labels: type:tests, ready-for-review
