Repository jolibrain/joliGEN, pull requests merged in 2022-04, with the labels that each got.

#172 fix: get_feats feature extractor for projected D
  models/modules/projected_d/projector.py
  options/base_options.py
Labels: model:discriminator

#174 fix: jenkins docker perms
  Jenkinsfile
  docker/Dockerfile.devel
Labels: type:tests

#175 fix: segformer G and segformer feature extractor
  models/modules/projected_d/projector.py
  models/modules/resnet_architecture/resnet_generator.py
Labels: bug, model:generator, model:discriminator

#170 feat: auto download segformer weights
  models/modules/projected_d/projector.py
  models/modules/utils.py
  models/networks.py
  requirements.txt
Labels: model:discriminator, model:f_s

#178 fix: proper categories titles in schema + improve option saving
  options/base_options.py
  server/joligan_api.py
Labels: documentation, api

#181 feat: random perspective and bilinear interpolation with diffaug
  options/train_options.py
  util/diff_aug.py
Labels: data:augmentation

#180 fix: wrong values for bbox ref coordinates
  data/online_creation.py
Labels: bug, data:dataloader

#184 fix: feats went through resnet blocks 2 times and rm old code
  models/modules/resnet_architecture/mobile_resnet_generator.py
  models/modules/resnet_architecture/resnet_generator.py
Labels: model:generator

#188 fix: joligan api launch training
  server/joligan_api.py
Labels: bug, api
