Repository jolibrain/joliGEN, pull requests merged in 2022-07, with the labels that each got.

#227 fix: auto resize of attention masks in segformer
  models/modules/attn_network.py
  models/modules/segformer/segformer_generator.py
  models/modules/segformer/utils.py
Labels: model:generator, ready-for-review

#235 fix: remove use_resize from segformer forward
  models/modules/segformer/segformer_generator.py
Labels: model:generator

#236 chore: testing semantic masks with additional configurations
  tests/test_run_semantic_mask.py
Labels: type:tests

#238 fix: input_B_label loading when available
  models/cut_semantic_mask_model.py
Labels: alg:cut, data:dataloader
