Repository jolibrain/joliGEN, pull requests merged in 2022-02, with the labels that each got.

#116 fix: saving paths_sanitized in checkpoints dir
  data/base_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
Labels: data:datasets

#118 chore: copy script for path-based dataset
  data/base_dataset.py
  options/base_options.py
  scripts/copy_path_dataset.py
Labels: data:datasets

#121 fix: only one gpu visible in each process
  train.py
Labels: gpu

#124 feat: option to display real image - fake image
  models/cut_model.py
  models/cycle_gan_model.py
  options/train_options.py
Labels: display

#119 feat: segformer can be used for attention masks generation
  models/base_model.py
  models/configs/segformer/segformer_config_b0.py
  models/configs/segformer/segformer_config_b1.py
  models/configs/segformer/segformer_config_b2.py
  models/configs/segformer/segformer_config_b3.py
  models/configs/segformer/segformer_config_b4.py
  models/configs/segformer/segformer_config_b5.py
  models/cut_model.py
  models/cycle_gan_model.py
  models/cycle_gan_semantic_mask_model.py
  models/modules/resnet_architecture/mobile_resnet_generator.py
  models/modules/resnet_architecture/resnet_generator.py
  models/modules/segformer/segformer_generator.py
  models/modules/segformer/utils.py
  models/networks.py
  options/train_options.py
  train.py
Labels: alg:gan, type:rd, nn:arch, model:generator

#126 fix: f_s backward when multigpu
  models/base_model.py
Labels: bug, gpu:multi

#125 Refactor attn networks
  models/cut_model.py
  models/modules/attn_network.py
  models/modules/mobile_modules.py
  models/modules/resnet_architecture/resnet_generator.py
  models/modules/segformer/segformer_generator.py
  models/modules/segformer/utils.py
  models/networks.py
Labels: nn:arch
