Repository jolibrain/joliGEN, pull requests merged in 2022-06, with the labels that each got.

#199 feat: multiple D support
  models/base_model.py
  models/cut_model.py
  models/cut_semantic_mask_model.py
  models/cycle_gan_model.py
  models/cycle_gan_semantic_mask_model.py
  models/modules/loss.py
  models/modules/projected_d/discriminator.py
  models/modules/projected_d/projector.py
  models/networks.py
  options/base_options.py
  tests/test_run_semantic_mask.py
  train.py
  util/discriminator.py
Labels: model:discriminator, refactor

#211 feat: allow ViT custom resolution at D projector init
  models/modules/projected_d/projector.py
Labels: model:discriminator, ready-for-review

#206 chore: error warning data load
  data/base_dataset.py
  data/online_creation.py
  data/temporal_dataset.py
  data/unaligned_labeled_mask_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
  options/base_options.py
  train.py
Labels: data:dataloader, ready-for-review

#214 fix: inverted BtoA direction labels, moving direction to datasets
  data/aligned_dataset.py
  data/base_dataset.py
  data/colorization_dataset.py
  data/nuplet_unaligned_labeled_mask_dataset.py
  data/single_dataset.py
  data/temporal_dataset.py
  data/unaligned_dataset.py
  data/unaligned_labeled_dataset.py
  data/unaligned_labeled_mask_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
  models/base_model.py
Labels: bug, data:datasets, data:dataloader, ready-for-review

#218 feat: compute_feats for unet G
  models/modules/unet_architecture/unet_generator.py
Labels: model:generator, ready-for-review

#217 feat: multiple D via vision aided ensembling, https://arxiv.org/abs/2112.09130
  docker/Dockerfile.devel
  models/base_model.py
  models/modules/discriminators.py
  models/modules/vision_aided_d.py
  models/networks.py
  options/base_options.py
  requirements.txt
Labels: model:discriminator, ready-for-review

#221 fix: segformer for semantics with optional partially pre-trained model
  models/networks.py
  options/base_options.py
Labels: nn:semantic, ready-for-review

#216 feat: semantic loss on identity
  models/cut_semantic_mask_model.py
  models/cycle_gan_semantic_mask_model.py
  options/train_options.py
Labels: nn:semantic, ready-for-review

#226 feat: class weights for semantic segmentation network with cross entropy
  models/cut_semantic_mask_model.py
  models/cycle_gan_semantic_mask_model.py
  options/base_options.py
Labels: nn:semantic, ready-for-review

#229 feat: option to compute semantic G loss on f_s output
  models/cut_semantic_mask_model.py
  models/cycle_gan_semantic_mask_model.py
  options/train_options.py
Labels: nn:semantic, ready-for-review

#231 chore: gen_single_image read config from JSON
  scripts/gen_single_image.py
Labels: ready-for-review, type:inference
