Repository jolibrain/joliGEN, pull requests merged in 2022-10, with the labels that each got.

#269 fix: semantic losses was initialized twice
  models/base_gan_model.py
  models/base_model.py
Labels: bug, nn:semantic

#268 feat(ml): ITTR transformer arch for image2image - 2203.16015
  models/base_model.py
  models/modules/ittr/ittr_generator.py
  models/networks.py
  options/base_options.py
  requirements.txt
  tests/test_run_semantic_mask.py
Labels: model:generator

#270 chore: configurable number of blocks for resnet generators
  models/networks.py
  options/base_options.py
Labels: model:generator

#274 feat(ml): adding MoNCE contrastive loss to CUT, 2203.09333
  README.md
  models/cut_model.py
  models/cycle_gan_model.py
  models/monce.py
  models/sinkhorn.py
Labels: alg:cut, nn:loss

#267 feat: MSE identity loss for cut models
  models/cut_model.py
  tests/test_run_semantic_mask.py
Labels: alg:cut, nn:loss

#271 chore: split networks.py
  models/base_gan_model.py
  models/base_model.py
  models/base_networks.py
  models/cut_model.py
  models/cycle_gan_model.py
  models/gan_networks.py
  models/re_cut_semantic_mask_model.py
  models/re_cycle_gan_semantic_mask_model.py
  models/segmentation_model.py
  models/semantic_networks.py
  models/template_model.py
  models/test_model.py
Labels: refactor

#277 Fix temporal with gan
  models/base_gan_model.py
Labels: bug, nn:loss

#279 feat(ml): ittr generator control over the number of blocks
  models/gan_networks.py
Labels: model:generator

#265 feat: unet diffusion generator
  models/base_model.py
  models/gan_networks.py
  models/modules/unet_generator_attn/unet_attn_utils.py
  models/modules/unet_generator_attn/unet_generator_attn.py
  options/base_options.py
  tests/test_run_semantic_mask.py
Labels: model:generator

#278 feat(aug): select bbox category through the path sanitization functionality
  data/online_creation.py
  data/unaligned_labeled_mask_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
  options/base_options.py
Labels: data:augmentation

#280 feat(ml): query-selected attention for contrastive patches, 2203.08483
  models/cut_model.py
  models/gan_networks.py
  models/modules/cut_networks.py
Labels: alg:cut

#282 fix: online creation and selfsupervised
  data/online_creation.py
  data/self_supervised_labeled_mask_dataset.py
  data/self_supervised_labeled_mask_online_dataset.py
Labels: data:dataloader

#285 fix: online creation when cropsize > imgsize
  data/online_creation.py
Labels: data:dataloader

#287 Fix ittr
  models/cut_model.py
  models/modules/ittr/ittr_generator.py
Labels: model:generator

#276 Palette 2111.05826
  models/base_diffusion_model.py
  models/diffusion_networks.py
  models/gan_networks.py
  models/modules/unet_generator_attn/diffusion_generator.py
  models/modules/unet_generator_attn/unet_generator_attn.py
  models/palette_model.py
  options/base_options.py
  scripts/gen_single_image.py
  scripts/gen_single_image_diffusion.py
  scripts/run_tests.sh
  tests/test_run_diffusion.py
Labels: model:generator, alg:diffusion

#291 fix: doc_gen for palette model
  models/__init__.py
  models/palette_model.py
Labels: documentation

#292 test: properly add doc generation in tests
  scripts/run_tests.sh
Labels: type:tests
