Repository jolibrain/joliGEN, pull requests merged in 2022-05, with the labels that each got.

#190 feat: G weights export during training
  models/base_model.py
  models/cut_model.py
  models/cycle_gan_model.py
  train.py
Labels: type:export

#189 fix: loss values averaged accross gpus
  models/base_model.py
Labels: display

#185 feat: temporal discriminator
  data/__init__.py
  data/online_creation.py
  data/temporal_dataset.py
  models/base_model.py
  models/cut_model.py
  models/modules/projected_d/discriminator.py
  models/modules/projected_d/projector.py
  models/networks.py
  options/base_options.py
  train.py
Labels: model:discriminator, data:dataloader

#193 fix: adam/radam beta1 default value
  options/train_options.py
Labels: type:optimization

#196 chore: put model type back in the general options
  options/base_options.py
Labels: api

#198 fix: resnet
  models/modules/resnet_architecture/resnet_generator.py
Labels: model:generator

#197 feat: option to go through resnet blocks two times (backward compatibility)
  models/modules/resnet_architecture/resnet_generator.py
  models/networks.py
  options/base_options.py
Labels: model:generator

#207 fix: projection interpolation at init
  models/modules/projected_d/discriminator.py
Labels: bug, model:discriminator

#208 fix: onnx opset version 11
  models/base_model.py
Labels: type:export

#205 fix: temporal D and context pixels compatibility
  data/temporal_dataset.py
  models/base_model.py
Labels: model:discriminator, data:dataloader
