Repository jolibrain/joliGEN, pull requests merged in 2023-05, with the labels that each got.

#416 feat(ml): efficient UNet / 2205.11487
  models/diffusion_networks.py
  models/modules/unet_generator_attn/unet_generator_attn.py
  options/base_options.py
  tests/test_run_diffusion.py
Labels: model:generator, alg:diffusion

#420 fix: diffusion video generation fixes to generate API changes
  scripts/gen_video_diffusion.py
Labels: alg:diffusion

#422 fix: visdom port for server launching
  util/visualizer.py
Labels: display, ready-for-review

#424 feat(ml): Lion optimizer [2302.06675]
  options/train_options.py
  train.py
  util/lion_pytorch.py
Labels: type:optimization, ready-for-review

#421 feat(ml): diffusion super-resolution for palette
  data/single_dataset.py
  models/palette_model.py
  options/base_options.py
  scripts/gen_single_image_diffusion.py
  scripts/run_tests.sh
  tests/test_run_sr_diffusion.py
Labels: ready-for-review, alg:diffusion
