Repository jolibrain/joliGEN, pull requests merged in 2023-09, with the labels that each got.

#531 fix: diffusion with temporal data loader
  data/temporal_labeled_mask_online_dataset.py
Labels: bug, data:dataloader, alg:diffusion

#533 fix: palette inference without ref image
  models/palette_model.py
Labels: bug, alg:palette

#536 fixes: Missing bbox ref idx in from crop_image in gen_single_image_diffusion + allow inference on cpu
  scripts/gen_single_image_diffusion.py
Labels: bug

#534 chore: removing stylegan2 architecture
  models/gan_networks.py
  models/modules/stylegan_networks.py
  options/base_options.py
Labels: alg:gan, model:arch

#535 feat(ml): UViT for GAN
  models/base_model.py
  models/gan_networks.py
  models/modules/unet_generator_attn/unet_generator_attn.py
  tests/test_run_semantic_mask.py
Labels: alg:gan, model:arch

#538 fix: inference_num for reference img
  models/palette_model.py
Labels: bug, ready-for-review, alg:palette

#539 fix: loading image with transparency
  data/aligned_dataset.py
  data/base_dataset.py
  data/nuplet_unaligned_labeled_mask_dataset.py
  data/online_creation.py
  data/single_dataset.py
  data/unaligned_dataset.py
  data/unaligned_labeled_cls_dataset.py
  data/unaligned_labeled_mask_cls_online_dataset.py
  data/unaligned_labeled_mask_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
  data/unaligned_labeled_mask_online_ref_dataset.py
  data/unaligned_labeled_mask_ref_dataset.py
  data/utils.py
Labels: data:dataloader, ready-for-review

#537 feat(doc): DDPM conditioning training and inference examples
  docs/source/_static/mapillary_ddpm_cond.png
  docs/source/_static/mapillary_ddpm_generated_crop.png
  docs/source/_static/mapillary_ddpm_mask.png
  docs/source/_static/mapillary_ddpm_orig_crop.png
  docs/source/_static/mapillary_ddpm_y_0.png
  docs/source/_static/mapillary_ddpm_y_t.png
  docs/source/_static/mapillary_visdom.png
  docs/source/_static/mario_ddpm_cond.png
  docs/source/_static/mario_ddpm_generated.png
  docs/source/_static/mario_ddpm_generated_crop.png
  docs/source/_static/mario_ddpm_mask.png
  docs/source/_static/mario_ddpm_orig.png
  docs/source/_static/mario_ddpm_y_0.png
  docs/source/_static/mario_ddpm_y_t.png
  docs/source/inference.rst
  docs/source/training.rst
  examples/example_ddpm_mapillary.json
  examples/example_ddpm_mario.json
Labels: documentation, ready-for-review

#540 feat(ml): ViT-14L as projected discriminator
  models/modules/projected_d/projector.py
  options/base_options.py
Labels: model:discriminator

#541 fix(ml): DDIM with reference image
  models/modules/diffusion_generator.py
Labels: bug, alg:diffusion

#542 fix: improved diffusion inference scripts, including video generation
  scripts/gen_single_image_diffusion.py
  scripts/gen_video_diffusion.py
Labels: bug, alg:diffusion

#543 fix: correct urls in quickstart_gan.rst
  docs/source/quickstart_gan.rst
Labels: documentation, ci:skip-tests

#514 feat: extract bbox from img
  data/online_creation.py
  scripts/run_tests.sh
Labels: data:dataloader

#545 fix(doc): remove newlines and fix path
  docs/source/training.rst
Labels: documentation, ci:skip-tests

#547 fix: start super-resolution restoration from noise
  models/palette_model.py
  scripts/gen_single_image_diffusion.py
  scripts/run_tests.sh
Labels: bug, alg:diffusion

#549 feat(ml): batchnorm to groupnorm in projected D and f_s unet to lower multi-gpu sync requirements
  models/modules/UNet_classification.py
  models/modules/projected_d/blocks.py
  scripts/run_tests.sh
Labels: enhancement
