Repository jolibrain/joliGEN, pull requests merged in 2023-02, with the labels that each got.

#346 feat: previous frame as y cond in palette
  data/online_creation.py
  data/self_supervised_temporal_dataset.py
  data/temporal_dataset.py
  models/palette_model.py
  options/base_options.py
Labels: alg:palette

#351 chore: ncols computed automatically for display
  options/train_options.py
  util/visualizer.py
Labels: display, ready-for-review

#355 chore: accomodating MiDaS 3.1 for discriminator based on depth estima…
  models/base_gan_model.py
  models/modules/cut_networks.py
  models/modules/utils.py
  options/base_options.py
Labels: model:discriminator, dependencies

#358 fix: online creation for temporal dataloader
  data/online_creation.py
Labels: data:dataloader

#350 feat: script to generate diffusion video
  data/online_creation.py
  scripts/diffusion_options.py
  scripts/gen_single_image_diffusion.py
  scripts/gen_video_diffusion.py
Labels: ready-for-review

#360 chore: unet_mha additional options
  models/diffusion_networks.py
  options/base_options.py
Labels: model:generator, alg:palette

#362 chore: export of alg_palette options
  options/base_options.py
Labels: documentation

#361 fix: macs to flops
  models/base_model.py
Labels: model:generator

#364 fix: missing get_weights for f_s
  models/semantic_networks.py
Labels: nn:semantic
