Repository jolibrain/joliGEN, pull requests merged in 2023-01, with the labels that each got.

#340 feat: option for number of inferences (palette model)
  models/palette_model.py
Labels: alg:palette

#342 fix: display for palette model
  models/palette_model.py
Labels: display, ready-for-review, alg:palette

#338 chore: refacto tests
  tests/test_run_diffusion.py
  tests/test_run_nosemantic.py
  tests/test_run_semantic_cls.py
  tests/test_run_semantic_mask.py
  tests/test_run_semantic_mask_cls.py
  tests/test_run_semantic_mask_online.py
  tests/test_run_semantic_self_supervised.py
Labels: refactor, ready-for-review

#335 Fix export
  models/base_model.py
  scripts/export_jit_model.py
  scripts/export_onnx_model.py
  tests/test_run_nosemantic.py
  tests/test_run_semantic_cls.py
  tests/test_run_semantic_mask.py
  tests/test_run_semantic_mask_cls.py
  tests/test_run_semantic_mask_online.py
  util/export.py
  util/export/onnx.py
Labels: type:export

#347 chore: diffusion generation script update for crops relative to bbox
  scripts/gen_single_image_diffusion.py
Labels: alg:diffusion
