Repository jolibrain/joliGEN, pull requests merged in 2023-04, with the labels that each got.

#399 fix: force RGB in online creation
  data/online_creation.py
Labels: data:datasets, data:dataloader

#403 fix: online mask padding
  data/online_creation.py
Labels: bug

#378 feat: random edge detection method at training [2302.05543]
  models/modules/sketch_generation/hed.py
  models/modules/sketch_generation/mbv2_mlsd_large.py
  models/modules/sketch_generation/mlsd.py
  models/palette_model.py
  scripts/gen_single_image_diffusion.py
  train.py
  util/mask_generation.py
  util/util.py
Labels: data:augmentation, alg:diffusion

#412 Discriminator based on SAM
  models/base_gan_model.py
  models/cut_model.py
  models/gan_networks.py
  models/modules/sam/sam_inference.py
  models/semantic_networks.py
  options/base_options.py
Labels: model:discriminator

#411 feat(ml): mask generation across domains for GAN semantics
  models/base_gan_model.py
  models/base_model.py
  models/cut_model.py
  models/gan_networks.py
  options/base_options.py
Labels: alg:gan, model:discriminator, nn:semantic
