Repository jolibrain/joliGEN, pull requests merged in 2023-03, with the labels that each got.

#366 fix: mask clamping and display for diff models
  models/modules/diffusion_generator.py
  models/palette_model.py
Labels: ready-for-review, alg:diffusion, alg:palette

#365 chore: skip validation getting midas model from hub
  models/modules/utils.py
Labels: model:discriminator

#369 chore: ci requirements upgrade
  docker/Dockerfile.devel
Labels: CI

#352 feat: fixed bbox size for online creation
  data/online_creation.py
  data/temporal_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
  options/base_options.py
Labels: data:dataloader, ready-for-review

#367 [2301.11093] multiscale loss for diff
  models/modules/loss.py
  models/palette_model.py
Labels: nn:loss, alg:diffusion, alg:palette

#371 fix: vitclip16 requires 224 input size
  options/base_options.py
Labels: model:discriminator

#373 chore: dataaug diffusion is not yet compatible with ViT projectors
  options/base_options.py
Labels: data:augmentation

#375 feat: add ddim inference [2010.02502]
  models/diffusion_networks.py
  models/modules/diffusion_generator.py
  models/palette_model.py
  scripts/diffusion_options.py
  scripts/gen_single_image_diffusion.py
Labels: alg:diffusion

#376 Fix gen single bbox mask
  data/online_creation.py
  scripts/gen_single_image_diffusion.py
Labels: alg:diffusion

#382 Feat uvit diffusion
  models/diffusion_networks.py
  models/modules/unet_generator_attn/unet_generator_attn.py
  options/base_options.py
  requirements.txt
  tests/test_run_diffusion.py
  tests/test_run_diffusion_online.py
Labels: model:generator, alg:diffusion

#384 chore: compatibility with pytorch2
  models/base_model.py
  options/base_options.py
  requirements.txt
Labels: type:depedencies

#387 chore: docker build image requirements requires upgrade for numpy
  docker/Dockerfile.build
Labels: type:docker

#389 chore: basic aim logging for losses and images
  options/train_options.py
  requirements.txt
  train.py
  util/visualizer.py
Labels: type:tools

#390 feat(ml): UNet/UViT resnet block finer control
  models/diffusion_networks.py
  models/gan_networks.py
  models/modules/unet_generator_attn/unet_generator_attn.py
  options/base_options.py
Labels: model:generator

#391 chore: pinning torchvision to 0.14.1
  requirements.txt
Labels: dependencies
