Repository jolibrain/joliGEN, pull requests merged in 2023-08, with the labels that each got.

#521 chore: wavelet utils and op built upon model py file loading
  models/modules/discriminators.py
  models/modules/freq_utils.py
  models/modules/resnet_architecture/resnet_generator.py
  models/modules/unet_generator_attn/unet_generator_attn.py
  models/modules/utils.py
Labels: documentation

#523 chore: optional import of freq_utils
  models/modules/discriminators.py
  models/modules/resnet_architecture/resnet_generator.py
  models/modules/unet_generator_attn/unet_generator_attn.py
Labels: documentation

#524 fix: NCE with segformer architecture
  models/cut_model.py
Labels: alg:cut, alg:gan

#525 fix: reverse DDIM schedule
  models/modules/diffusion_generator.py
Labels: ready-for-review, alg:diffusion

#526 feat: add LPIPS metric
  docs/source/metrics.rst
  models/base_model.py
  options/train_options.py
  requirements.txt
  scripts/run_tests.sh
  test.py
Labels: ready-for-review, model:metrics

#527 fix: DDIM restoration when batch_size > 1
  models/modules/diffusion_generator.py
Labels: bug, ready-for-review, alg:diffusion
