Repository jolibrain/joliGEN, pull requests merged in 2023-07, with the labels that each got.

#497 chore: docker pip upgrade
  docker/Dockerfile.devel
Labels: type:docker, ci

#498 fix: mask_delta for inference diffusion
  scripts/gen_single_image_diffusion.py
Labels: bug, ready-for-review, alg:diffusion

#500 Fix: typo in README.md
  README.md
Labels: documentation, ready-for-review, ci:skip-tests

#490 feat: add DDPM tutorial on the VITON-HD dataset
  docs/source/_static/tutorial_viton_inference.png
  docs/source/_static/tutorial_viton_visdom.png
  docs/source/index.rst
  docs/source/tutorial_viton.rst
  examples/example_ddpm_viton_tutorial.json
  examples/tutorial_viton.sh
  scripts/preprocess_viton.py
Labels: documentation, ready-for-review, ci:skip-tests

#495 feat(ml): DDIM scheduler
  models/modules/diffusion_generator.py
  models/modules/diffusion_utils.py
  models/palette_model.py
  scripts/diffusion_options.py
  scripts/gen_single_image_diffusion.py
Labels: ready-for-review, type:inference, alg:diffusion

#423 feat: depth model as projector
  models/gan_networks.py
  models/modules/projected_d/projector.py
  options/base_options.py
  tests/test_run_semantic_mask.py
Labels: alg:gan, model:discriminator, ready-for-review

#503 chore: D_netDs values in documentation
  options/base_options.py
Labels: documentation, ready-for-review, ci:skip-tests

#501 fix: mask_delta checks
  data/online_creation.py
  options/base_options.py
  requirements.txt
  tests/test_run_diffusion_online.py
  tests/test_run_semantic_mask_online.py
Labels: bug, documentation, alg:gan, ready-for-review

#502 fix: crop_image for non square images and large bboxes
  data/online_creation.py
Labels: bug, data:dataloader, ready-for-review

#505 feat: commandline saving
  train.py
Labels: ready-for-review

#496 feat: MobileSam implementation [2306.14289]
  examples/example_gan_glasses2noglasses.json
  examples/example_gan_mario2sonic.json
  models/base_diffusion_model.py
  models/base_gan_model.py
  models/modules/sam/sam_inference.py
  models/modules/utils.py
  models/palette_model.py
  models/semantic_networks.py
  options/base_options.py
  requirements.txt
  tests/test_run_semantic_mask_online.py
Labels: model:discriminator, ready-for-review, alg:conditioning

#512 fix(doc): title format
  docs/source/export.rst
Labels: bug, documentation

#504 feat(ml): GAN mask generator with sam refined target
  models/base_gan_model.py
  models/base_model.py
  models/cut_model.py
Labels: alg:gan, model:semantics

#508 fix: ddpm inference with sam masks + inverted masks
  scripts/gen_single_image_diffusion.py
Labels: bug, ready-for-review, type:inference, alg:diffusion

#513 fix: mask_delta ratio online check
  data/temporal_labeled_mask_online_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
Labels: bug, data:augmentation

#515 fix: temporal dataloader, with added path sanitize
  data/base_dataset.py
  data/self_supervised_temporal_dataset.py
  data/temporal_labeled_mask_online_dataset.py
  data/unaligned_labeled_mask_online_dataset.py
  tests/test_run_diffusion_online.py
Labels: bug, alg:gan, data:dataloader, alg:diffusion
