Repository jolibrain/joliGEN, pull requests merged in 2024-10, with the labels that each got.

#699 option for max_sequence_length of video generation
  models/diffusion_networks.py
  models/modules/unet_generator_attn/unet_generator_attn_vid.py
  options/common_options.py
Labels: alg:diffusion, alg:palette

#703 vid canny dropout threshold
  models/palette_model.py
Labels: alg:diffusion, alg:palette, alg:conditioning

#704 fix: tifffile import
  data/aligned_dataset.py
  data/base_dataset.py
Labels: bug, data:dataloader

#705 fix vid dataloader frame selection
  data/self_supervised_vid_mask_online_dataset.py
Labels: bug, data:dataloader

#706 fix: diff across input/output channels in gans
  models/cut_model.py
Labels: bug, alg:gan

#707 fix: perceptual loss for cm when input and output channels differ
  models/cm_model.py
Labels: alg:consistency_model

#708 fix for canny range and dropout
  util/mask_generation.py
Labels: bug, alg:diffusion, alg:palette, alg:conditioning

#709 fix vid dataloader for frame limit
  data/self_supervised_vid_mask_online_dataset.py
Labels: bug, data:dataloader, alg:palette

#711 chore: pin timm to v1.0.9 to avoid recently introduced issue
  requirements.txt
Labels: dependencies

#713 fix: paths are only required for video generation
  options/inference_diffusion_options.py
Labels: bug, type:inference

#710 fix for vid metrics
  models/base_model.py
  scripts/run_tests.sh
  tests/test_run_vid_diffusion_online.py
Labels: bug, alg:evaluation, alg:diffusion, alg:palette

#719 chore: diffusers update
  requirements.txt
Labels: dependencies
