Repository jolibrain/joliGEN, pull requests merged in 2024-12, with the labels that each got.

#729 chore: deactivate aim images
  util/visualizer.py
Labels: output:viz

#733 fix vid inference of canny in situation of regeneration and cond_in
  scripts/gen_vid_diffusion.py
Labels: type:inference, alg:diffusion

#734 add metric fvd for video
  models/base_model.py
  options/train_options.py
  util/fvd.py
Labels: alg:diffusion, model:metrics, type:video

#735 feat: allow tf32 on cudnn
  train.py
Labels: type:optimization

#737 fix: disable hdit flop count
  models/modules/hdit/flops.py
Labels: model:generator
