Repository jolibrain/joliGEN, pull requests merged in 2024-09, with the labels that each got.

#685 fix: diff real/fake not needed + cleanup
  models/cut_model.py
Labels: alg:gan

#687 fix: diffusion with input and output of different channel size
  models/diffusion_networks.py
  models/modules/diffusion_generator.py
Labels: alg:diffusion

#688 feat: consistency models with supervised losses
  models/cm_model.py
Labels: alg:consistency_model

#689 fix: consistency models with input/output different channels
  models/cm_model.py
Labels: alg:consistency_model

#690 fix: D input is G output size with gans
  models/gan_networks.py
Labels: alg:gan

#692 feat: input and output multiple and different channels
  data/aligned_dataset.py
  data/base_dataset.py
  models/base_model.py
  models/cut_model.py
  models/diffusion_networks.py
  models/modules/cm_generator.py
  options/common_options.py
  requirements.txt
  util/util.py
  util/visualizer.py
Labels: data:datasets, data:dataloader

#686 fix: allowing for no NCE with cut
  models/cut_model.py
Labels: alg:gan

#694 feat: multistep lr scheduler
  models/modules/utils.py
  options/train_options.py
Labels: api

#695 chore: no epochs decay is default
  options/train_options.py
Labels: api

#697 fix: hdit out_channel
  models/diffusion_networks.py
  models/gan_networks.py
  models/modules/hdit/hdit.py
  models/modules/img2img_turbo/img2img_turbo.py
Labels: bug, alg:consistency_model

#693 fix: load_image replacement
  data/aligned_dataset.py
  data/base_dataset.py
  data/unaligned_dataset.py
  data/utils.py
Labels: data:dataloader

#696 feat(ml): inference_vid with canny
  scripts/gen_vid_diffusion.py
Labels: type:inference, alg:diffusion, alg:conditioning

#698 vid_dropout_variance
  models/base_diffusion_model.py
  models/palette_model.py
Labels: alg:diffusion, alg:palette, alg:conditioning

#701 fix: cm at test time
  models/cm_model.py
Labels: bug, alg:evaluation, type:tests, alg:consistency_model
