Repository jolibrain/joliGEN, pull requests merged in 2024-08, with the labels that each got.

#675 feat: better Canny for cond image with background
  scripts/gen_single_image_diffusion.py
Labels: type:inference, alg:diffusion, alg:conditioning

#677 fix: clamp bbox to image size during inference
  scripts/gen_single_image_diffusion.py
Labels: bug, type:inference, alg:diffusion

#669 WIP: video_unet_generator_attn
  data/__init__.py
  data/self_supervised_temporal_labeled_mask_online_dataset.py
  docs/options.md
  docs/source/inference.rst
  docs/source/training.rst
  models/base_model.py
  models/diffusion_networks.py
  models/modules/diffusion_generator.py
  models/modules/unet_generator_attn/unet_attn_utils.py
  models/modules/unet_generator_attn/unet_generator_attn_vid.py
  models/palette_model.py
  options/common_options.py
  options/inference_diffusion_options.py
  scripts/gen_vid_diffusion.py
  scripts/run_tests.sh
  tests/test_run_vid_diffusion_online.py
Labels: model:arch, data:dataloader
