Repository jolibrain/joliGEN, pull requests merged in 2024-07, with the labels that each got.

#667 fix: diffusion inference for images > 8bits
  scripts/gen_single_image_diffusion.py
Labels: bug, type:inference, alg:diffusion

#671 fix: projected discriminator allows grayscale input
  models/modules/projected_d/discriminator.py
Labels: model:discriminator

#674 doc: use underscores in options
  docs/README.md
  docs/source/export.rst
  docs/source/inference.rst
  docs/source/tutorial_styletransfer_bdd100k.rst
  docs/source/tutorial_viton.rst
  examples/tutorial_viton.sh
  scripts/disc_single_image.py
  scripts/export_model.py
  scripts/gen_dd_single_image.py
  scripts/gen_jit_single_image.py
  scripts/gen_video_gan.py
Labels: documentation

#673 fix: RGB order for diffusion inpainting
  scripts/gen_single_image_diffusion.py
Labels: bug, type:inference, alg:diffusion

#672 fix: supervised perceptual metrics all with piq and configurable lambda weight
  models/cut_model.py
Labels: alg:gan, nn:loss
